# String Based Problems---------------

In [1]:
#1 program to reverse a string

string = input("Enter a string:")
string = string[::-1]
print("Reversed string:",string)

Enter a string: hello

Reversed string: olleh

In [11]:
#2 check if a string is pallindrome

string1 = input("Enter a string:")
string2 = string1.lower()
if string2[::-1] == string2 :
    print(f"{string1} is pallindrome")
else:
    print(f"{string1} is not pallindrome")

Enter a string: WOW

WOW is pallindrome

In [12]:
#3 convert string to uppercase

string3 = input("Enter a string:")
string4 = string3.upper()
print(string4)

Enter a string: heki

HEKI

In [13]:
#4 convert string to lowercase

string3 = input("Enter a string:")
string4 = string3.lower()
print(string4)

Enter a string: HELLO

hello

In [26]:
#5 count the number of vowels in a string

string4 = input("Enter a string:").lower()
vowels = ('a','e','i','o','u')
count = 0
for i in range (len(string4)):
    if string4[i] in vowels:
        count+=1
print(count)

Enter a string: America

4

In [87]:
#6 count the number of consonants in a string

string4 = input("Enter a string:").lower()
vowels = ('a','e','i','o','u')
count = 0
for i in range (len(string4)):
    if string4[i] not in vowels:
        count+=1
print("Number of consonants:",count)

Enter a string: hello

Number of consonants: 3

In [46]:
#7 remove all whitespaces from string

string5 = input("Enter a string:")
string5  = string5.replace(" ","")
print(string5)

Enter a string: hello how are you

hellohowareyou

In [47]:
#8 find the length of strng without using len function

string6 = input("Enter a string:")
count = 0
for i in string6:
    count+=1
print("Length of string:",count)

Enter a string: hello

Length of string: 5

In [60]:
#9 check if string contains a specific word

string7 = "Hello how are you?"
search = "Hello"
if string7.find(search)!=-1:
    print("string contains specific word")
else:
    print("string doesn't contains specific word")

string contains specific word

In [3]:
#10 replace a word in string using another word

string8 = "Hello how am you"
r = "are"
print("After replacemnt:",string8.replace("am",r))

After replacemnt: Hello how are you

In [9]:
#11 count the occurrence of a word in a string

sentence = "Hello world, this world is precious and this world is beautifull"
word = "world"
print(f"Number of occurrences of {word} in sentence is",sentence.count("world"))

Number of occurrences of world in sentence is 3

In [17]:
#12 find the first occurrence of a word in a string

string9 = "my name is R,my role is backend developer"
fo = "is"
index = string9.find(o)
if index!=-1:
    print(f"First occurrence of {o} is at index {index}")
else:
    print("No occurrences")

First occurrence of is is at index 8

In [19]:
#13 find the last occurrence of a word in a string

sentence1 = "Hello is are is"
lo = "is"
index = sentence1.rfind(lo)
if index!=-1:
    print(f"Last occurrence of {lo} is at index {index}")
else:
    print("No occurrences")

Last occurrence of is is at index 13

In [75]:
#14 split a string into a list of words

string10 = "hello     world!   my first program"
l = string10.split()
print(l)

['hello', 'world!', 'my', 'first', 'program']

In [86]:
#15 Join a list of words into a string

l_words = ['hello', 'world!', 'my', 'first', 'program']
string =""
for i in l_words:
    string = string +i+" "
print(string)


#(another method using join)
#separator =" "
#print(separator.join(l_words))

hello world! my first program

In [21]:
#16 Convert a string where words are seperated by spaces to one where words are seperated by underscores.

string12 =  "Hi, it was nice too meet you"
string13 = string12.replace(" ","_")
print(string13)

Hi,_it_was_nice_too_meet_you

In [45]:
#17 To check if a string starts with a specific word or phrase

string11 = "Hello how are you"
check_string = "Hello how"
if string11.find(check_string)==0:
    print(f"String starts with {check_string}")
else:
    print(f"No,string doesnt start with {check_string}")

String starts with Hello how

In [56]:
#18 Check if a string ends with a specific word or phrase

string14 = "Hello how are you"
check_string = "you"
if string14[-len(check_string):] == check_string:
     print(f"String ends with {check_string}")
else:
    print(f"No,string ends start with {check_string}")

String ends with you

In [57]:
#19 convert a string to title case

string15 = "Hello world"
print(string15.title())

Hello World

In [117]:
#20 find the longest word in a string

string16 = "hello how are you"
l = string16.split()    #split the string into list of words
if not l:
    print("String is empty")
else:
    max_size = 0
    max_word = l[0]
    for a in l:             #iterate each word to compare length of word and assign to max_word
        size = len(a)
        if max_size<size:
            max_size = size
            max_word = a
    print(max_word)

hello

In [6]:
#21 find the shortest word in a string

string16 = "hello S how are you"
l = string16.split()    #split the string into list of words
if not l:
    print("String is empty")
else:
    min_word = l[0]
    for a in l:             #iterate each word to compare length of word and assign to max_word
        size = len(a)
        if size<len(min_word):
            min_word = a
    print(min_word)

S

In [14]:
#22 Reverse the order of words in a string

string17 = "This session is conducted by sudhanshu sir"
list_words = string17.split()
print(" ".join(list_words[::-1]))

sir sudhanshu by conducted is session This

In [44]:
#23 Check if a string is alphanumeric

string18 = "area51"
if (not (string18.isalpha()) and not(string18.isnumeric()) and string18.isalnum()):
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

String is alphanumeric

In [59]:
#24 Extract all digits from a string

string19 = "Hello, area51 8 9 "
digit_list = []
digit_list = [int(string19[i]) for i in range (len(string19)) if string19[i].isnumeric()]   #list comprehension
print(f"All digits are {digit_list}")

All digits are [5, 1, 8, 9]

In [62]:
#25 Extract all alphabets from a string 

string20 = "Hello how are you 53"
list_alpha = [i for i in string20 if i.isalpha()]
print(list_alpha)

['H', 'e', 'l', 'l', 'o', 'h', 'o', 'w', 'a', 'r', 'e', 'y', 'o', 'u']

In [90]:
#26 Count the number of uppercase letters in a string

string21 = "Hello Rithin"
count = len([i for i in string21 if i.isupper()])
print("Number of uppercase:",count)

Number of uppercase: 2

In [89]:
#27 Count the number of lowercase letters in a string
string22 = "Hello Rithin"
count = len([i for i in string21 if i.islower()])
print("Number of lowercase:",count)

Number of lowercase: 9

In [88]:
#28 Swap the case of each character in a string.

string23 = "Hello World"
letters = "".join(i.swapcase() for i in string23)
print("Swapped letter case:",letters)

Swapped letter case: hELLO wORLD

In [101]:
#29 Remove a specific word from a string

string24 = "Hello how are you"
specific_string = "are"
string25 =string24.replace(specific_string,"")
print("After removal of word:",string25)

After removal of word: Hello how  you

In [115]:
#30 check if a string is a valid email address
import re
string25 ="rithin@gmail.com"
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'    #using regular expression   
if re.match(pattern,string25):
    print("Email is valid")
else:
    print("Email is invalid")

Email is valid

In [2]:
#31. Extract the username from an email address string.

string16 = "pwskill1710@gmail.com"
print("Username:",string16.split("@")[0])

Username: pwskill1710

In [1]:
#32. Extract the domain name from an email address string.
string17 = "pwskill1710@gmail.com"
print("Username:",string17.split("@")[1])

Username: gmail.com

In [18]:
#33. Replace multiple spaces in a string with a single space.
string18 = "This  is     a        word"
string19 = string18.split()
print(" ".join(string19))

This is a word

In [60]:
#34. Check if a string is a valid URL.

string20 = "https://www.amazon.com"
list_ = list(string20.partition("//"))
if (list_[0] in ["http:","https:"])and (list_[1]=="//") and( "." in list_[2]):
    print("Valid url")
else:
    print("Invalid Url")

Valid url

In [69]:
#35. Extract the protocol (http or https) from a URL string.
string21 = "https://www.amazon.com"
if "://" in string21:
    string21_list = list(string21.partition("://"))
    print("Protocol:",str(string21_list[0]))

Protocol: https

In [93]:
#36. Find the frequency of each character in a string.
string22 = "Hello world"
set_string22 = set(string22)
for i in set_string22:
        count = string22.count(i)
        print(f"frequency of {i} is {count}")

frequency of H is 1
frequency of o is 2
frequency of w is 1
frequency of e is 1
frequency of l is 3
frequency of d is 1
frequency of r is 1
frequency of   is 1

In [133]:
#37. Remove all punctuation from a string-----  str.maketrans("to be replaced","replace character","to delete")
import string

string37 = "Hello! world,how is it?"
string38 =''
for i in string.punctuation:
        trans = string37.maketrans(i," ")
        string37 = string37.translate(trans)
print(string37)

Hello  world how is it

In [6]:
#38. Check if a string contains only digits.
string38 ="7778"
if string38.isnumeric():
    print("String contains only digits")
else:
    print("String doesn't contains only digits")

String contains only digits

In [12]:
#39. Check if a string contains only alphabets.
string38 ="hello"
if string38.isalpha():
    print("String contains only alphabets")
else:
    print("String doesn't contains only alphabets")

String contains only alphabets

In [13]:
#40. Convert a string to a list of characters.
string39 = "Hello how are you"
string39_list = list(string39)
print(string39_list)

['H', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

In [42]:
#41. Check if two strings are anagrams.
string40 = "listen"
string41 = "silent"
if sorted(list(string40))==sorted(list(string41)):
    print("Two strings are anagrams")
else:
    print("Two strings are not anagrams")

Two strings are anagrams

In [62]:
#42. Encode a string using a Caesar cipher.
string41 = "Hello, World"
shift = 3
l1 =list(map(lambda x: chr(ord(x)+shift),list(string41)))
Encoded = "".join(l1)
print(Encoded)

Khoor/#Zruog

In [63]:
#43. Decode a Caesar cipher encoded string.
string41 = "Khoor/#Zruog"
shift = 3
l2 =list(map(lambda x: chr(ord(x)-shift),list(string41)))
Decoded = "".join(l2)
print(Decoded)

Hello, World

In [93]:
#44. Find the most frequent word in a string.

string43 ="Hello Hello how are you you you"
dic = {}
string43_list = string43.split()
for i in string43_list:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print("Most frequent word is:",max(dic,key=dic.get))

Most frequent word is: you

In [97]:
#45. Find all unique words in a string.
string43 ="Hello Hello how are you you you"
unique_words =set(string43.lower().split())
print(unique_words)

{'you', 'how', 'are', 'hello'}

In [98]:
#46. Count the number of syllables in a string.
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    count = 0
    in_vowel_sequence = False

    for char in word:
        if char in vowels:
            if not in_vowel_sequence:
                count += 1
                in_vowel_sequence = True
        else:
            in_vowel_sequence = False

    # Adjust the count for certain common cases
    if word.endswith("e"):
        count -= 1
    if count == 0:
        count = 1

    return count

word = "programming"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'programming' has 3 syllables.

In [131]:
#47. Check if a string contains any special characters.

string47 ="hello& how a"
string48 =string47.replace(" ","")
if not(string48.isalnum() or string48.isalpha() or string48.isnumeric()) and len(string48)!=0:
    print("Contains special character")
else:
    print("String doesn't contains special characters")

Contains special character

In [163]:
#48. Remove the nth word from a string.

string49 = "Hello how are you"
nth_word = 1
string_list = string49.split()
if len(string_list)>=nth_word and nth_word!=0:
    string_list.pop(nth_word-1)
    print(" ".join(string_list))
elif nth_word==0:
        print(string49)
else:
    print("Error in removing")

how are you

In [168]:
#49. Insert a word at the nth position in a string.

string50,insert_string,nth_position = input("Enter a string:"),input("Enter string to insert:"),int(input("Enter position to insert:"))
string50_list = string50.split()
string50_list.insert(nth_position-1,insert_string)   # position index starts with 1
string50 = " ".join(string50_list)
print(string50)

Enter a string: Hello how you
Enter string to insert: are
Enter position to insert: 2

Hello are how you

In [181]:
#50. Convert a CSV string to a list of lists.

string51 = """Name,Age,Location
Alice,30,New York
Bob,25,Los Angeles
Charlie,40,San Francisco"""

list_string = list(map(lambda x: x.split(","),string51.split("\n")))
print("Converted CSV string to a list of lists is:\n",list_string)

Converted CSV string to a list of lists is:
 [['Name', 'Age', 'Location'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles'], ['Charlie', '40', 'San Francisco']]

#            List Based Practice Problem :    ------------

In [185]:
#1. Create a list with integers from 1 to 10.
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [189]:
#2. Find the length of a list without using the `len()` function.

list2 =[1,2,3,4,5,6,7,8,9,10]
count = 0
for i in list2:
    count+=1
print("Length of list:",count)

Length of list: 10

In [191]:
#3. Append an element to the end of a list.
list3 =[1,2,3,4]
append_no = int(input("Enter a number to append:"))
list3.append(append_no)
print(list3)

Enter a number to append: 8

[1, 2, 3, 4, 8]

In [203]:
#4. Insert an element at a specific index in a list.
list3 =[1,2,3,4]
list1= input("Enter a number to append and its index(start with 0) seperated by space:").split()
append_= list1[0]
append_index = list1[1]
list3.insert(int(append_index),int(append_))
print("Updated list:",list3)

Enter a number to append and its index(start with 0) seperated by space: 5 0

Updated list: [5, 1, 2, 3, 4]

In [205]:
#5. Remove an element from a list by its value.
list3 = ["Hi",1,{1,2,3}]
remove_ = 1
list3.remove(remove_)
print("Updated list:",list3)

Updated list: ['Hi', {1, 2, 3}]

In [208]:
#6. Remove an element from a list by its index.
list3 = ["Hi",1,{1,2,3}]
remove_index = 0
list3.pop(remove_index)
print("Updated list:",list3)

Updated list: [1, {1, 2, 3}]

In [211]:
#7. Check if an element exists in a list.
list4 = ["Hi",1,{1,2,3}]
element = {1,2,3}
if element in list4:
    print("Element exists")
else:
    print("Element doesn't exists")

Element exists

In [215]:
#8. Find the index of the first occurrence of an element in a list.
list5 = ["Hi",1,{1,2,3},"Hi"]
element = "Hi"
first_index_occurence = list5.index(element)
print("First occurrence of an element's index is:",first_index_occurence)

First occurrence of an element's index is: 0

In [222]:
#9. Count the occurrences of an element in a list.
list5 = ["Hi",1,8,8,"Hi"]
element = "Hi"
print("Occurences of element in list is:",list5.count(element))

Occurences of element in list is: 2

In [226]:
#10. Reverse the order of elements in a list.
list6 = ["Hi",1,{1,2,3}]
list6.reverse()
print(list6)

[{1, 2, 3}, 1, 'Hi']

In [234]:
#11. Sort a list in ascending order.
list7 =[1,2,4,5,3,5,3,6,78]
list7.sort()
print("Sorted in ascending order:",list7)

Sorted in ascending order: [1, 2, 3, 3, 4, 5, 5, 6, 78]

In [236]:
#12. Sort a list in descending order.
list7 =[1,2,4,5,3,5,3,6,78]
list7.sort(reverse=True)
print("Sorted in descending order:",list7)

Sorted in descending order: [78, 6, 5, 5, 4, 3, 3, 2, 1]

In [238]:
#13. Create a list of even numbers from 1 to 20.
list8 = [i for i in range(1,21) if i%2==0]
print("even numbers from 1 to 20:",list8)

even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [239]:
#14. Create a list of odd numbers from 1 to 20.
list8 = [i for i in range(1,21) if i%2!=0]
print("odd numbers from 1 to 20:",list8)

odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [241]:
#15. Find the sum of all elements in a list.
list9 = [1,2,3,4,5]
print("Sum of all elements in a list:",sum(list9))

Sum of all elements in a list: 15

In [243]:
#16. Find the maximum value in a list.
list10 = [1,2,3,4,5]
print("maximum value in a list:",max(list9))

maximum value in a list: 5

In [242]:
#17. Find the minimum value in a list.
list11 = [1,2,3,4,5]
print("minimum value in a list:",min(list9))

minimum value in a list: 1

In [244]:
#18. Create a list of squares of numbers from 1 to 10.
list12 = [i**2 for i in range(1,11)]
print(list12)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [249]:
#19. Create a list of random numbers.
import random

list13 = [random.randint(1,100) for i in range(10)]
print(list13)

[5, 50, 95, 98, 73, 21, 34, 56, 46, 24]

In [252]:
#20. Remove duplicates from a list.
list14 = [1,2,3,2,1,4,"Hi","Hi",{1,2,3}]
list15=[]
for i in list14:
    if i not in list15:
        list15.append(i)
print(list15)

[1, 2, 3, 4, 'Hi', {1, 2, 3}]

In [264]:
#21. Find the common elements between two lists.
list16 = [1,2,"hi",{"hello","hi"},8]
list17 =[5,7,8,"hi",2,1,{"hello","hi"}]
list_com = []
for i in list16:
    if i in list17:
        list_com.append(i)
print("Common elements:",list_com)

Common elements: [1, 2, 'hi', {'hi', 'hello'}, 8]

In [267]:
#22. Find the difference between two lists.
list18 = [1,2,"hi",{"hello","hi"},0,"ki"]
list19 =[5,7,8,"hi",2,1]
list_dif = []
for i in list18:
    if i not in list19:
        list_dif.append(i)
print("Difference between two lists:",list_dif)

Difference between two lists: [{'hi', 'hello'}, 0, 'ki']

In [270]:
#23. Merge two lists.
list20 = [1,2,"hi",{"hello","hi"},0,"ki"]
list21 =[5,7,8,"hi",2,1]
list20.extend(list21)
print(list20)

[1, 2, 'hi', {'hi', 'hello'}, 0, 'ki', 5, 7, 8, 'hi', 2, 1]

In [272]:
#24. Multiply all elements in a list by 2.
list22 = [1,2,3,4,5,6,7,8,8,10]
list_new = [i*2 for i in list22]
print(list_new)

[2, 4, 6, 8, 10, 12, 14, 16, 16, 20]

In [273]:
#25. Filter out all even numbers from a list.
list23 = [1,2,3,4,5,6,7,8,8,10]
list24 = list(filter(lambda x: x%2==0,list23))
print(list24)

[2, 4, 6, 8, 8, 10]

In [274]:
#26. Convert a list of strings to a list of integers.
list25 =["1","2","3","4","5"]
list26 = [int(i) for i in list25]
print(list26)

[1, 2, 3, 4, 5]

In [275]:
#27. Convert a list of integers to a list of strings.
list25 =[1,2,3,4,5,6,7,8]
list26 = [str(i) for i in list25]
print(list26)

['1', '2', '3', '4', '5', '6', '7', '8']

In [85]:
#28. Flatten a nested list.
def flatten(l):
    flat_list=[]
    for item in l:
        if isinstance(item,list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)                 
            
    return flat_list

l = [1,2,3,[1,2,[1,2],8,9,10]]
print(flatten(l))

[1, 2, 3, 1, 2, 1, 2, 8, 9, 10]

In [87]:
#29. Create a list of the first 10 Fibonacci numbers.
list_=[]
a,b=0,1
for i in range(10):
    list_.append(a)
    a,b=b,a+b
print("list of the first 10 Fibonacci numbers:",list_)

list of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [120]:
#30. Check if a list is sorted.
l = [1,2,3,4,5]
if sorted(l)==l or sorted(l,reverse=True)==l:
    print("List is Sorted")
else:
    print("List is not sorted")

List is Sorted

In [138]:
#31. Rotate a list to the left by `n` positions.
n=2
list27 = [1,2,3,4,5,6]
list28 = list27[:n]
list29=list27[n:]
list29.extend(list28)
print(f"Rotated list to left by {n} position is:",list29)

Rotated list to left by 2 position is: [3, 4, 5, 6, 1, 2]

In [153]:
#32. Rotate a list to the right by `n` positions.
n=2
list30 = [1,2,3,4,5,6]
list31 = list30[-1:-n-1:-1]
list32 = list30[:len(list30)-n]
list31.extend(list32)
print(f"Rotated list to right by {n} position is:",list31)

Rotated list to right by 2 position is: [6, 5, 1, 2, 3, 4]

In [176]:
#33. Create a list of prime numbers up to 50.

def is_prime(num):
    for i in range(2,int(num**0.5)+1):
        if num%i ==0:
            return False
    return True

list_prime = [i for i in range (2,50) if is_prime(i)]
list_prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [43]:
#34. Split a list into chunks of size `n`.
list33= [1,2,3,4,5,6,7]
n = 3
j=0
list34=[]
count=0
if len(list33)%n==0:
    count=int(len(list33)/n)   # if len(list33)/n is not in decimal
else:
    count=int(len(list33)/n)+1 # if len(list33)/n is in decimal
               
for i in range(count):
    list34.append(list33[j:n+j])
    j=j+n
list34

[[1, 2, 3], [4, 5, 6], [7]]

In [50]:
#35. Find the second largest number in a list.
list34 = [1,5,456,9989,0,2,4]
num =sorted(list34)[-2]
print("The second largest number in a list is:",num)

The second largest number in a list is: 456

In [51]:
#36. Replace every element in a list with its square.
list35 = [1,2,3,4,5,6]
list36 = list(map(lambda x:x**2,list35))
print("List with every element in its square:",list36)

List with every element in its square: [1, 4, 9, 16, 25, 36]

In [59]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
dic = {}
list37 =[10,11,12,13,14,15]
for i in list37:
    dic[i]=list37.index(i)
print("Dictionary:",dic)

Dictionary: {10: 0, 11: 1, 12: 2, 13: 3, 14: 4, 15: 5}

In [76]:
#38. Shuffle the elements of a list randomly.
import random
list38=[1,2,3,4,5,6]
random.shuffle(list38)
print("Shuffled list:",list38)

Shuffled list: [1, 6, 4, 5, 2, 3]

In [88]:
#39. Create a list of the first 10 factorial numbers.
def fact(num):
    value=1
    for i in range(num,1,-1):
        value = value*i
    return value

num = 10
list_factorial = [fact(i) for i in range(num) ]
print("list of the first 10 factorial numbers:",list_factorial)

list of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [91]:
#40. Check if two lists have at least one element in common.
list39 = [1,2,3,4]
list40 = [1,9,10]
if set(list39).intersection(set(list40)):
    print("Given lists have common elements")
else:
    print("Given lists doesn't have common elements")

Given lists have common elements

In [92]:
#41. Remove all elements from a list.
list41=[3,4,5,6,7,8,9]
list41.clear()
print(list41)

[]

In [93]:
#42. Replace negative numbers in a list with 0.
list42 = [-1,-2,3,3,5,6,4,6,9]
list43 = [i for i in list42 if i>=0 ]
print(list43)

[3, 3, 5, 6, 4, 6, 9]

In [94]:
#43. Convert a string into a list of words.
string = "Hello world how are you"
list44 = string.split()
print(list44)

['Hello', 'world', 'how', 'are', 'you']

In [95]:
#44. Convert a list of words into a string.
list_of_words = ['Hello', 'world', 'how', 'are', 'you']
string = " ".join(list_of_words)
print(string)

Hello world how are you

In [97]:
#45. Create a list of the first `n` powers of 2.
n=5
list45 = [2**i for i in range(n)]
print(list45)

[1, 2, 4, 8, 16]

In [103]:
#46. Find the longest string in a list of strings.
list_of_strings=["Hello","hi","I"]
print(max(list_of_strings,key=len))

Hello

In [106]:
#47. Find the shortest string in a list of strings.
list_of_strings=["Hello","hi","i"]
print(min(list_of_strings,key=len))

i

In [109]:
#48. Create a list of the first `n` triangular numbers.
n=5
list46=[]
for i in range(1,n+1):
    sum=0
    for j in range(1,i+1):
        sum=sum+j
    list46.append(sum)    
list46

[1, 3, 6, 10, 15]

In [45]:
#49. Check if a list contains another list as a subsequence.
list47=  [1, 2, 3, 4, 5, 6, 7]
list48= [2, 4, 6]
j=0
for i in list47:
    if len(list48)>j and list48[j]==i:
        j+=1

if j==len(list48):
    print("List contains another list as a subsequence")
else:
    print("List doesn't contains another list as a subsequence")

List contains another list as a subsequence

In [49]:
#50. Swap two elements in a list by their indices.
list49 = [1,2,3,4,5,6]
swap_e1_index = 0
swap_e2_index = 1
temp = list49[swap_e1_index]
list49[swap_e1_index]=list49[swap_e2_index]
list49[swap_e2_index]=temp
print("List after swap:",list49)

List after swap: [2, 1, 3, 4, 5, 6]

# Tuple Based Practice Problem :----------------------------

In [53]:
#1. Create a tuple with integers from 1 to 5.
tuple1 = tuple(i for i in range(1,6))
print(tuple1)

(1, 2, 3, 4, 5)

In [57]:
#2. Access the third element of a tuple.
tuple2 = (1,2,3,4,5,6)
print(tuple2[2])

3

In [58]:
#3. Find the length of a tuple without using the `len()` function.
tuple3 = (1,2,3,4,5,6)
length = 0
for i in tuple3:
    length+=1
print("length of tuple is :",length)

length of tuple is : 6

In [62]:
#4. Count the occurrences of an element in a tuple.
tuple4 = (1,2,3,3,4,3,8,8,9)
element= 8
print("Count of an element:",tuple4.count(element))

Count of an element: 2

In [77]:
#5. Find the index of the first occurrence of an element in a tuple.
tuple4 =(1,2,3,3,4,3,8,8,9)
element= 2
try:
    index= tuple4.index(element)
    print("The index of the first occurrence of an elemnt in a tuple:",index)
except ValueError:
    print("No occurrence")

The index of the first occurrence of an elemnt in a tuple: 1

In [81]:
#6. Check if an element exists in a tuple.
tuple5=(1,2,3,4,5)
element = 3
if element in tuple5:
    print(f"Element '{element}' exists in the tuple")
else:
    print("Element doesn't exists in the tuple")

Element '3' exists in the tuple

In [83]:
#7. Convert a tuple to a list.
tuple6 = (12,23,3,4,9)
list_ = list(tuple6)
print(list_)

[12, 23, 3, 4, 9]

In [84]:
#8. Convert a list to a tuple.
list_ = [12, 23, 3, 4, 9]
tuple_ = tuple(list_)
print(tuple_)

(12, 23, 3, 4, 9)

In [88]:
#9. Unpack the elements of a tuple into variables.
tuple7 =(1,2,3)
var1,var2,var3 =tuple7
print(var1)
print(var2)
print(var3)

1
2
3

In [89]:
#10. Create a tuple of even numbers from 1 to 10.

tuple8 = tuple(i for i in range(1,11) if i%2==0)
print(tuple8)

(2, 4, 6, 8, 10)

In [90]:
#11. Create a tuple of odd numbers from 1 to 10.
tuple9 = tuple(i for i in range(1,11) if i%2!=0)
print(tuple9)

(1, 3, 5, 7, 9)

In [94]:
#12. Concatenate two tuples.
tuple10 =(1,2,3)
tuple11=(4,5)
print("Concatenated two tuples:",tuple10+tuple11)

Concatenate two tuples: (1, 2, 3, 4, 5)

In [95]:
#13. Repeat a tuple three times.
tuple12 = (1, 2, 3)
repeated_tuple = tuple12 * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [98]:
#14. Check if a tuple is empty.
tuple13 =(1)
if not tuple13:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is not empty

In [102]:
#15. Create a nested tuple.
tuple14 = (1, 2, (3, 4, 5), 6, (7, 8))
print("Nested tuple:", tuple14)

Nested tuple: (1, 2, (3, 4, 5), 6, (7, 8))

In [107]:
#16. Access the first element of a nested tuple.
tuple15 = (1, 2, (3, 4, 5), 6, (7, 8))
first_element = tuple15[0]
print("first_element:",first_element)

first_element: 1

In [113]:
#17. Create a tuple with a single element.
tuple16 =(1,)
print(tuple16)

(1,)

In [114]:
#18. Compare two tuples.
tuple17 = (1, 2, 3)
tuple18 = (1, 2, 3)

if tuple17 == tuple18:
    print("The two tuples are equal.")
else:
    print("The two tuples are not equal.")

The two tuples are equal.

In [126]:
#19. Delete a tuple.
tuple19 =(1,2)
del tuple19

In [127]:
#20. Slice a tuple.
tuple20 =(1,2,3,4,5,6,7,8,9,10)
tuple21 = tuple20[1:4]
print(tuple21)

(2, 3, 4)

In [132]:
#21. Find the maximum value in a tuple.
tuple21=(1,2,3,4,56)
print("Max value in a tuple:",max(tuple21))

Max value in a tuple: 56

In [133]:
#22. Find the minimum value in a tuple.
tuple21=(1,2,3,4,56)
print("Min value in a tuple:",min(tuple21))

Min value in a tuple: 1

In [134]:
#23. Convert a string to a tuple of characters.
string22 = "hello"
tuple22= tuple(string22)
print(tuple22)

('h', 'e', 'l', 'l', 'o')

In [135]:
#24. Convert a tuple of characters to a string.
tuple23 = ('h', 'e', 'l', 'l', 'o')
string23 = "".join(tuple23)
print(string23)

hello

In [136]:
#25. Create a tuple from multiple data types.
tuple24 = (1, "Hello", 3.14, [1, 2, 3])
print(tuple24)

(1, 'Hello', 3.14, [1, 2, 3])

In [137]:
#26. Check if two tuples are identical.
tuple25 = (1, 2, 3)
tuple26 = (1, 2, 3)

if tuple25 == tuple26:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [140]:
#27. Sort the elements of a tuple.
tuple27 = (1,2,3,66,44,22,44,66,754)
tuple_27_ascending = tuple(sorted(list(tuple27)))
tuple_27_descending = tuple(sorted(list(tuple27),reverse=True))
print(f"Tuple in asc sorted:{tuple_27_ascending}, Tuple in desc sorted{tuple_27_descending}")

Tuple in asc sorted:(1, 2, 3, 22, 44, 44, 66, 66, 754), Tuple in desc sorted(754, 66, 66, 44, 44, 22, 3, 2, 1)

In [151]:
#28. Convert a tuple of integers to a tuple of strings.
tuple28 = (1,2,3,4,5,6)
list_28=list(tuple28)
for i in range (len(list_28)):
    list_28[i]=str(list_28[i])
tuple28=tuple(list_28)
print(tuple28)

('1', '2', '3', '4', '5', '6')

In [153]:
#29. Convert a tuple of strings to a tuple of integers.
tuple29 = ('1', '2', '3', '4', '5', '6')
tuple30 = tuple(int(i) for i in tuple29)
print(tuple30)

(1, 2, 3, 4, 5, 6)

In [155]:
#30. Merge two tuples.
tuple31 = (1,2,3)
tuple32=(4,5,6)
print("Merged tuple:",tuple31+tuple32)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [176]:
#31. Flatten a nested tuple.
def flatten(t):
    list_t=[]
    for item in t:
        if isinstance(item,tuple):
            list_t.extend(convert(item))
        else:
            list_t.append(item)
            
    return list_t

tuple33 = (1,2,(1,2,3,(1,2)))
tuple34 =tuple(flatten(tuple33))
print("Flattened tuple:",tuple34)

Flattened tuple: (1, 2, 1, 2, 3, 1, 2)

In [198]:
#32. Create a tuple of the first 5 prime numbers.

def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
            if num%i==0:
                return False
    return True
n=1
i=2
list_prime=[]
while(n<=5):
    if is_prime(i):
        list_prime.append(i)
        n+=1
    i+=1
   
tuple35 =tuple(list_prime)
print("Tuple of the first 5 prime numbers:",tuple35)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [202]:
#33. Check if a tuple is a palindrome.
tuple36 = (1,2,3,4,3,2,1)
if tuple36[::-1]==tuple36:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Tuple is palindrome

In [203]:
#34. Create a tuple of squares of numbers from 1 to 5.
tuple37 = tuple(i**2 for i in range(1,6))
print(tuple37)

(1, 4, 9, 16, 25)

In [205]:
#35. Filter out all even numbers from a tuple.
tuple38 = (1,2,3,4,5,6,7,8,9,10)
tuple39 = tuple(filter(lambda x: x%2==0,tuple38))
print(tuple39)

(2, 4, 6, 8, 10)

In [206]:
#36. Multiply all elements in a tuple by 2.
tuple39 = (1,2,3,4,5,6,7,8,9,10)
tuple40 = tuple(map(lambda x:x*2,tuple39))
print(tuple40)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [220]:
#37. Create a tuple of random numbers.
import random

tuple41=tuple(random.randint(1,100) for i in range(5))
print("Tuple Of Random Numbers:",tuple41)

Tuple Of Random Numbers: (34, 90, 12, 73, 73)

In [19]:
#38. Check if a tuple is sorted.
tuple42= (1,2,3)
list_ = list(tuple42)
if sorted(list_)==list_:
    print("Tuple is sorted in ascending order")
elif sorted(list_,reverse=True)==list_:
    print("Tuple is sorted in descending order")
else:
    print("Tuple is not sorted")

Tuple is sorted in ascending order

In [49]:
#39. Rotate a tuple to the left by `n` positions.
n=1
tuple43 = (1,2,3,4,5,6)
list_43 = list(tuple43)
r=list_43[n:]
l=list_43[:n]
r.extend(l)
r = tuple(r)
print("Rotated tuple(left) is:",r)

Rotated tuple(left) is: (2, 3, 4, 5, 6, 1)

In [48]:
#40. Rotate a tuple to the right by `n` positions.
n=1
tuple43 = (1,2,3,4,5,6)
list_43 = list(tuple43)
l=list_43[:len(list_43)-n]
r=list_43[len(list_43)-n:]
r.extend(l)
r = tuple(r)
print("Rotated tuple(right) is:",r)

Rotated tuple(right) is: (6, 1, 2, 3, 4, 5)

In [4]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fib(num):
    if num<=1:
        return num
    else:
        return fib(num-1)+fib(num-2)

tuple44 = tuple(fib(num) for num in range(0,5))
print("Tuple of the first 5 Fibonacci numbers",tuple44)

Tuple of the first 5 Fibonacci numbers (0, 1, 1, 2, 3)

In [10]:
#42. Create a tuple from user input.
tuple45 = tuple(input("Enter inputs seperated by spaces:").split())
print(tuple45)

Enter inputs seperated by spaces: 1 2 3 4 5 6

('1', '2', '3', '4', '5', '6')

In [19]:
#43. Swap two elements in a tuple.
tuple46 = (1,2,3,4,5)
list_tuple46 = list(tuple46)
swap_po1,swap_po2 = int(input("Enter swap position1 index:")),int(input("Enter swap position2 index:"))
if swap_po1<len(list_tuple46) and swap_po2<len(list_tuple46):
    temp=list_tuple46[swap_po1]
    list_tuple46[swap_po1]=list_tuple46[swap_po2]
    list_tuple46[swap_po2]=temp
    print("After swapping:",list_tuple46)
else:
    print("Error in swapping")

Enter swap position1 index: 0
Enter swap position2 index: 4

After swapping: [5, 2, 3, 4, 1]

In [21]:
#44. Reverse the elements of a tuple.
tuple47 =(1,2,3,4,5,6)
list_tuple47 = list(tuple47)
rev_tuple47 = tuple(list_tuple47[::-1])
print("Reversed tuple:",rev_tuple47)

Reversed tuple: (6, 5, 4, 3, 2, 1)

In [22]:
#45. Create a tuple of the first `n` powers of 2.
n=5
tuple48 = tuple(2**i for i in range(n))
print(tuple48)

(1, 2, 4, 8, 16)

In [25]:
#46. Find the longest string in a tuple of strings.
tuple49 = ("Hello","hi","I")
max_len = max(tuple49,key=len)
print("Longest string in a tuple of strings:",max_len)

Longest string in a tuple of strings: Hello

In [27]:
#47. Find the shortest string in a tuple of strings.
tuple49 = ("Hello","hi","I")
min_len = min(tuple49,key=len)
print("Shortest string in a tuple of strings:",min_len)

Shortest string in a tuple of strings: I

In [37]:
#48. Create a tuple of the first `n` triangular numbers.
import functools as f
def sum_nums(n):
    return f.reduce(lambda a,b:a+b,list(range(1,n+1)))

num = int(input("Enter n value:"))
tuple50 = tuple(sum_nums(i) for i in range(1,num+1) )
print("First n triangular numbers:",tuple50)

Enter n value: 4

First n triangular numbers: (1, 3, 6, 10)

In [43]:
#49. Check if a tuple contains another tuple as a subsequence.
tuple51 =(1,2,3,4,5,6,7)
tuple52 =(1,2,7)
j=0
for i in tuple51:
    if j<len(tuple52) and tuple52[j]==i:
        j+=1
if j==len(tuple52):
    print("Tuple contains another tuple as a subsequence")
else:
    print("Tuple doesn't contains another tuple as a subsequence")

Tuple contains another tuple as a subsequence

In [52]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n=5
tuple53 = tuple(1 if i%2!=0 else 0 for i in range(1,n+1))
print(tuple53)

(1, 0, 1, 0, 1)

# Set Based Practice Problem :-----------------------------

In [2]:
#1. Create a set with integers from 1 to 5.
n=5
set1 = set(i for i in range(1,n+1))
print(set1)

{1, 2, 3, 4, 5}

In [6]:
#2. Add an element to a set.
set2={1,2,3,4}
add= int(input("Enter a element to add in  set:"))
set2.add(add)
print(set2)

Enter a element to add in  set: 7

{1, 2, 3, 4, 7}

In [8]:
#3. Remove an element from a set.
set3 = {1,2,3,4,5,6}
r= int(input(f"Enter an element to remove from set{set3}:"))
set3.remove(r)
print(set3)

Enter an element to remove from set{1, 2, 3, 4, 5, 6}: 3

{1, 2, 4, 5, 6}

In [10]:
#4. Check if an element exists in a set.
set4= {1,2,3,4,5,6}
i = int(input("Enter a element to check if exists:"))
if i in set4:
    print("Element exists in the set")
else:
    print("Element doesn't exists")

Enter a element to check if exists: 9

Element doesn't exists

In [12]:
#5. Find the length of a set without using the `len()` function.
set5 = {1,2,3,4,5,6,7,8}
count=0
for i in set5:
    count+=1
print("length of a set:",count)

length of a set: 8

In [15]:
#6. Clear all elements from a set.
set6 = {1,2,3,4,5,6}
set6.clear()
print(set6)

set()

In [16]:
#7. Create a set of even numbers from 1 to 10.
set7 = {1,2,3,4,5}
n=10
set_even = set(i for i in range(1,n+1) if i%2==0)
print(set_even)

{2, 4, 6, 8, 10}

In [17]:
#8. Create a set of odd numbers from 1 to 10.
set8 = {1,2,3,4,5}
n=10
set_odd = set(i for i in range(1,n+1) if i%2!=0)
print(set_odd)

{1, 3, 5, 7, 9}

In [19]:
#9. Find the union of two sets.
set9= {1,2,3,4,5}
set10={6,7,8,9,2,1}
set11=set9.union(set10)
print("Union is",set11)

Union is {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
#10. Find the intersection of two sets.
set11= {1,2,3,4,5}
set12={6,7,8,9,2,1}
set13=set11.intersection(set12)
print("Intersection is",set13)

Intersection is {1, 2}

In [21]:
#11. Find the difference between two sets.
set14 ={1,2,3,4,5,6,7,8}
set15 ={1,2,3,4}
diff_set=set14-set15
print("Difference between two sets:",diff_set)

Difference between two sets: {8, 5, 6, 7}

In [29]:
#12. Check if a set is a subset of another set.
set16 ={1,2,3,4,5,6}
set17 ={1,2,3}
if set17.issubset(set16):
    print(f"{set17} is subset of {set16}")
else:
    print(f"{set17} is not subset of {set16}")

{1, 2, 3} is subset of {1, 2, 3, 4, 5, 6}

In [31]:
#13. Check if a set is a superset of another set.
set18 = {1,2,3,4,5}
set19 = {1,2}
if set18.issuperset(set19):
    print(f"{set18} is superset of {set19}")
else:
    print(f"{set18} is not superset of {set19}")

{1, 2, 3, 4, 5} is superset of {1, 2}

In [33]:
#14. Create a set from a list.
list20 =[1,2,3,4,6,(1,2,3),"hello"]
set20 =set(list20)
print(set20)

{1, 2, 3, 4, 6, 'hello', (1, 2, 3)}

In [36]:
#15. Convert a set to a list.
set21 ={1,2,3,"hello"}
list_set = list(set21)
print(list_set)

[1, 2, 3, 'hello']

In [65]:
#16. Remove a random element from a set.
set22 = {1, 2, 3, 4, 5}
if set22:
    removed_element = set22.pop()
    print("Removed element:", removed_element)
    print("Updated set:", set22)
else:
    print("The set is empty.")

Removed element: 1
Updated set: {2, 3, 4, 5}

In [64]:
#17. Pop an element from a set.
set23 = {1, 2, 3, 4, 5}
popped_element = set23.pop()
print("Popped element:", popped_element)
print("Updated set:", set23)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [68]:
#18. Check if two sets have no elements in common.
set24 ={1,2,3,4}
set25={5,6,7}
if not set24.intersection(set25):
    print("Two sets have no elements in common")
else:
    print("Two sets have elements in common")

Two sets have no elements in common

In [69]:
#19. Find the symmetric difference between two sets.
set26 = {1,2,3,4,5,6}
set27 = {1,2,7,8,9}
sym_diff = set26.symmetric_difference(set27)
print(f"Symmetric difference between two sets are:",sym_diff)

Symmetric difference between two sets are: {3, 4, 5, 6, 7, 8, 9}

In [74]:
#20. Update a set with elements from another set.
set28 = {1, 2, 9}
set29 = {3, 4, 5}
set28.update(set29)
print("Updated set28:", set28)

Updated set28: {1, 2, 3, 4, 5, 9}

In [17]:
#21. Create a set of the first 5 prime numbers.
def prime_check(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True

count=5
i=2
n=1
List30=[]
while(n<=count):
    if prime_check(i):
        List30.append(i)
        n+=1
    i+=1  
set30=set(List30)
print("set of the first 5 prime numbers:",set30)

set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [18]:
#22. Check if two sets are identical.
set31 = {1, 2, 3}
set32 = {3, 2, 1}

if set31 == set32:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [21]:
#23. Create a frozen set.
set33 = {1, 2, 3, 4, 5}
frozen_set = frozenset(set33)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [25]:
#24. Check if a set is disjoint with another set.
set31 = {1, 2, 3}
set32 = {3, 2, 1}

if set31.isdisjoint(set32):
    print("set is  disjoint with another set.")
else:
    print("set is not disjoint with another set.")

set is not disjoint with another set.

In [26]:
#25. Create a set of squares of numbers from 1 to 5.

n=5
set33= set(i**2 for i in range(1,n+1))
print(set33)

{1, 4, 9, 16, 25}

In [28]:
#26. Filter out all even numbers from a set.
set34 ={1,2,3,4,5,6,7,8,9,10}
set_filtered = set(filter(lambda x: x%2==0,set34))
print(set_filtered)

{2, 4, 6, 8, 10}

In [29]:
#27. Multiply all elements in a set by 2.
set35 ={1,2,3,4,5,6,7,8,9,10}
set_modified = set(map(lambda x: x*2,set34))
print(set_modified)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [30]:
#28. Create a set of random numbers.
import random
set36 = set(random.randint(0,100) for i in range(11))
print(set36)

{97, 1, 71, 9, 75, 15, 85, 24, 60, 63}

In [33]:
#29. Check if a set is empty.
set37 = {1,2,3}
if not set37:
    print("Set is empty")
else:
    print("Set is not empty")

Set is not empty

In [39]:
#30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [46]:
#31. Remove an element from a set using the discard method.

set38={1,2,3,4,5}
remove_element = 2
set38.discard(remove_element)
print("After discarding set is:",set38)

After discarding set is: {1, 3, 4, 5}

In [49]:
#32. Compare two sets.
set39 = {1, 2, 3, 4, 5}
set40 = {3, 4, 5}
if set39 == set40:
    print("Set39 is equal to Set40")
else:
    print("Set39 is not equal to Set40")

# Check if set40 is a subset of set39
if set40.issubset(set39):
    print("Set40 is a subset of Set39")
else:
    print("Set40 is not a subset of Set39")

# Check if set1 is a superset of set2
if set39.issuperset(set40):
    print("Set39 is a superset of Set40")
else:
    print("Set39 is not a superset of Set40")

Set39 is not equal to Set40
Set40 is a subset of Set39
Set39 is a superset of Set40

In [50]:
#33. Create a set from a string.
string = "hello"
set41 = set(string)
print(set41)

{'o', 'l', 'e', 'h'}

In [71]:
#34. Convert a set of strings to a set of integers.
set42 = {'1','2','3','4','5','7'}
try:
    set43 = set(map(lambda i:int(i),set42))
    print(set43)
except ValueError as e:
    print("Error in conversion")

{1, 2, 3, 4, 5, 7}

In [73]:
#35. Convert a set of integers to a set of strings.
set44 = {1, 2, 3, 4, 5, 7}
set44 = set(map(lambda i:str(i),set42))
print(set44)

{'7', '4', '1', '2', '3', '5'}

In [78]:
#36. Create a set from a tuple.
tuple45 = (1,2,3,"Hello",4)
try:
    set45 = set(tuple45)
    print(set45)
except Exception as e:
    print("Error in conversion")

{1, 2, 3, 4, 'Hello'}

In [81]:
#37. Convert a set to a tuple.
set46 = {1,2,3,4,5,"hi"}
tuple46 = tuple(set46)
print(tuple46)

(1, 2, 3, 4, 5, 'hi')

In [82]:
#38. Find the maximum value in a set.
set47 ={1,2,3,4,5,6,7,8}
print("Maximum value in a set:",max(set47))

Maximum value in a set: 8

In [84]:
#39. Find the minimum value in a set.
set48 ={1,2,3,4,5,6,7,8}
print("Minimum value in a set:",min(set47))

Minimum value in a set: 1

In [85]:
#40. Create a set from user input.
set49 = set(input("Enter set values seperated by spaces:").split())
print(set49)

Enter set values seperated by spaces: 1 2 3 4 hi 4

{'1', '2', '3', '4', 'hi'}

In [86]:
#41. Check if the intersection of two sets is empty.
set50 = {1,2,3,4,5,6}
set51 ={1,2,3}
if set50.isdisjoint(set51):
    print("Intersection of two sets is empty")
else:
    print("Intersection of two sets is not empty")

Intersection of two sets is not empty

In [98]:
#42. Create a set of the first 5 Fibonacci numbers.
def fibo(num):
    if num<=1:
        return num
    else:
        return fibo(num-1)+fibo(num-2)

List52 = list(fibo(num) for num in range(1,6))
print("In list:",List52)
print("In set:",set(List52))

In list: [1, 1, 2, 3, 5]
In set: {1, 2, 3, 5}

In [100]:
#43. Remove duplicates from a list using sets.
list53 =[1,2,3,4,3,4,5,2,5,6]
list54 = list(set(list53))
print("List without duplicates:",list54)

List without duplicates: [1, 2, 3, 4, 5, 6]

In [110]:
#44. Check if two sets have the same elements, regardless of their count.
set55 = {1,2,3,4,5,5,2,1}
set56 = {1,2,3,4,5}
if set55==set56:
    print("Two sets have the same elements, regardless of their count")
else:
    print("Two sets doesn't have the same elements, regardless of their count")

Two sets have the same elements, regardless of their count

In [112]:
#45. Create a set of the first `n` powers of 2.

n=5
set57 = set(2**i for i in range(0,n))
print(set57)

{1, 2, 4, 8, 16}

In [113]:
#46. Find the common elements between a set and a list.
set58 ={1,23,4,5,6,7,8,8}
list58 = [1,2,3,5,8,8,5]
common_element = set58.intersection(set(list58))
print("common elements are:",common_element)

common elements are: {8, 1, 5}

In [123]:
#47. Create a set of the first `n` triangular numbers.
n=5
set_triangular_no = set(int(num * (num + 1) / 2) for num in range(1,n+1))
print(set_triangular_no)

{1, 3, 6, 10, 15}

In [124]:
#48. Check if a set contains another set as a subset.
set59 = {1,2,3,4,5,6,7}
set60 ={1,2,3,4,5}
if set60.issubset(set59):
    print(f"{set60} is subset of {set59}")
else:
        print(f"{set60} is not subset of {set59}")

{1, 2, 3, 4, 5} is subset of {1, 2, 3, 4, 5, 6, 7}

In [125]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = 5
alternating_set = set(i % 2 for i in range(n))
print(alternating_set)

{0, 1}

In [128]:
#50. Merge multiple sets into one.
set61 ={1,2,3,4,5}
set62={6,7,8}
set63={9,10,11}
set_merge = set61.union(set62,set63)
print(set_merge)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}